/*---New CSS push



*/
/*COLOR PALLETE
ORANGE, FF652D
GREY, E6E6E6
LIGHT BLUE: 134074;
DARK BLUE: 0B2545;
CHARCOAL, 39393A*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Krub');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a:link {
    color: #0B2545;
    text-decoration: none;
}

a:visited {
    color: #0B2545;
    
}

a:hover {
    color: #fff;
    font-style:bold;
}

body {
	background-image: url(../images/background.png);
	background-size: cover;
	background-attachment: fixed;
  	color: #39393A;
	font-family: Roboto, sans-serif;
	font-size: calc(5px + 1vw);
	display: flex;
	flex-direction: column;
	padding: .5vw;
	align-items: center;

}

.main {
	display: grid;
	grid-row-gap: .5vw;

}

header {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	background-color: #FF652D;
	font-family: Krub, sans-serif;
	font-weight: bold;
	width: 80vw;
	border-style: double;
	border-color: #134074;
	border-width: .5em;
	border-radius: 1vw;
	align-items: center;

}


.aboutandskillsgrid {
	background: rgba(230, 230, 240, 0.6);
	display: grid;
	grid-gap: .5vw;
	grid-template-columns: 1fr 1fr;
	border-style: double;
	border-width: .5em;
	border-radius: 1vw;	
	border-color: #134074;
	width: 80vw;
	text-align: center;
}


h2 {
	text-align: center;
	padding: 1vw;
	font-family: Josefin Sans, sans-serif;
	color: #134074;

}

h3 {
	text-align: center;
	/*padding: 1vw;*/
	color: #0B2545;
}

.navigation {
	display: flex;
	list-style: none;
	flex-direction: row;
	justify-content: space-around;
	font-size: calc(.5em + .5vw);
}

.nameheader {
	display: flex;
	justify-content: center;
	font-size: 2.25vw;
	padding: 1vw;
	font-family: Josefin Sans, sans-serif;
	color: white;



}

.socialmedia {
	display: flex;
	flex-direction: row;
	list-style: none;
	justify-content: space-around;

}

.socialimage {
	max-width: 2vw;
	max-height: 2vw;
}

.me {
	padding: 1vw;
	
}

.pictureofme {

	width: 25vw;
	shape-outside: circle(50%);
	float: left;
	padding: .5vw;



}


.skills {
padding: 1vw;


}

.skillsgrid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	text-align: left;
	padding: 2vw;
}

.devlist {
	list-style: circle;
	padding: .5vw;

}

.itlist {
	list-style: circle;
	padding: .5vw;
	
}

.projects {
	background: rgba(230, 230, 240, 0.6);
	border-style: double;
	border-width: .5em;
	border-radius: 1vw;	
	border-color: #134074;
	width: 80vw;
	

}

.projecticons {
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
	width: 80vw;

}

.projecttextlinks {
	display: flex;
	flex-wrap: wrap;
	align-self: center;
	align-items: center;
	justify-content: center;
	justify-content: space-around;
	padding: 1vw;
	width: 80vw;
	

}

footer {
	display: flex;
	justify-content: center;
}