/*COLOR PALLETE
YELLOW, E9D758
GREEN, 297373
ORANGE, FF8552
GREY, E6E6E6
CHARCOAL, 39393A*/


/*Namebox
  menu
socialbox
  social
informationbox
  about
  skills
projectsbox
  projectimages*/


* {
  box-sizing: border-box; }

body {
  display: grid;
  margin: 2rm auto 2rem auto;
  max-width: 1000px;
  background-color: #E6E6E6; }

html {
  font-family: helvetica, arial, san-serif;
  font-size: 100%;
  color: #39393A;
  font-weight: 400; }
img {
  padding: .5rem;
}

h1, {
  margin: 0;
  color: #E9D758;
  }

h2 {
  margin: 0;
  color: #297373;
  
  }

a {
  color: #39393A;
  text-decoration: none; }


ul.menu {
  padding: 0;
  display: inline;}


li.menu {
  padding: 0;
  display: inline; 
}

ul.social {
  padding: 0;
  list-style: none;
  display: inline;}


li.social {
  padding: 0;
  list-style: none;
  display: inline; 
}

header {
  background: #E6E6E6;
    padding: 5rem 5vw 2rem; }
  header h1 {
    margin: 0;}

nav {

  background: #FF8552;
  padding: 1rem 10vw 1rem 1vw;
  font-weight: 700;
  }

menu {
  display: inline;
}

.aboutsocial {
  display: grid;
  grid-gap: 15px 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px 100px 100px;
  margin: 2rem auto;
  /*width: 1000px;*/

}

.projectsbox {
  background-color: #E6E6E6;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  border: 1px dashed #297373;

}
.projectimages {
  background-color: #E6E6E6;
  display: grid;
  grid-auto-flow: column;
  padding: 1rem;
  /*border: 1px dashed #297373;*/

}

.informationbox {
background-color: #E6E6E6;
  display: grid;
  grid-auto-flow: column;
  /*gird-gap: 15px 20px;*/
  border: 1px dashed #297373;

}
.picture {
  background-color: #E6E6E6;
  padding: 1rem;
  
}
.about {
  background-color: #E6E6E6;
  
  
  padding 1rem;
}
.skillsbox {
  background-color: #E6E6E6;
  justify-content: center;
  padding: 1rem;
  vertical-align: top;
  background-color: #E6E6E6;
  border: 1px dashed #297373; 
}

.socialbox {
  
  display: grid;
  /*margin: 2rem auto 2rem auto;*/
  width: 200px;
  justify-content: center;
  vertical-align: top;
  background-color: #E6E6E6;
  
}


